.container
{
    height: 80%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
}
.a 
{
    height: 400px;
    width:300px;
    margin: 30px;
    padding: 0 20px;
    font-size: 20pt;
}

.first
{
    background-color: aquamarine;
}
.second
{
    background-color: lightcoral;
}
.third
{
    background-color:gray;
}